/* VARIABLES */
:root {
	--accent-color: #ea6e4b;
	--accent-color-hover: #e25c37;
	--light-gray-background: #f2f2f2;
	--light-gray-text: #435D6B;
	--extra-light-gray-text: #667C8A;
}
/* UTILITY CLASSES */
.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 85%;
}

/* BUTTONS */
button {
	cursor: pointer;
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid transparent;
	font-size: 1rem;
	border-radius: 0 8px 8px 0;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 40%;
}

.btn-accent {
	color: #fff;
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.btn-accent:hover {
	color: #fff;
	background-color: var(--accent-color-hover);
	border-color: var(--accent-color-hover);
}

/* FORM STYLES */
.form-container {
	width: 100%;
	max-width: 33rem;
}

form.form {
	display: flex;
}

.form-control {
	position: relative;
	display: flex;
	width: 60%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	border-radius: 0.25rem;
	height: 1.9rem;
}

.form-control small {
	color: #ff7a7a;
	position: absolute;
	top: 44px;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form-control input {
	border: 2px solid #fff;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
	border-radius: 8px 0 0 8px;
}
